@model SchoolManagement.Models.ChamDiem

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ChamDiem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaGiaoVienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaGiaoVienNavigation.MaGiaoVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKyNangNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKyNangNavigation.MaKyNang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSinhVienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSinhVienNavigation.MaSinhVien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
